<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: darkmagenta;
            background-color: lightblue;
            
        }
        h1:hover{
            box-shadow: 100px 10px 50px yellow;
        }
        div>h1{
            color: brown;

        }
        div>h1:hover{
            box-shadow: 10px 10px 50px red;
        }
    </style>
</head>
<body>
    <center>
        <h1> Jinga Printing Tags...</h1>
        <h1>The data which are sending from the Backend in the form of Context by using the Jinga printing tags</h1>
        <div><h1>{{name}}</h1></div>
        <div><h1>{{age}}</h1></div>
        <div><h1>{{class}}</h1></div>
    </center>
</body>
</html>